<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Opta</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>com.compuserve.gif</string>
				<string>com.microsoft.bmp</string>
				<string>public.heic</string>
				<string>org.webmproject.webp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.avi</string>
				<string>org.matroska.mkv</string>
				<string>org.webmproject.webm</string>
				<string>com.apple.m4v-video</string>
				<string>public.mpeg-2-transport-stream</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
				<string>public.aac-audio</string>
				<string>com.apple.m4a-audio</string>
				<string>org.xiph.flac</string>
				<string>com.microsoft.waveform-audio</string>
				<string>org.xiph.ogg-vorbis</string>
				<string>public.aiff-audio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>opta</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.vladstudio.opta</string>
	<key>CFBundleName</key>
	<string>Opta</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.12</string>
	<key>CFBundleVersion</key>
	<string>1.0.12</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
